<div class="container">
  <div class="row">
  <h1>Ask page</h1>
  <form action="<%= answer_path %>" class="input-group mb-3">
    <input class="form-control form-control-lg" type="text" name="question">
    <div class="input-group-append">
      <input class="btn btn-primary" id="button-addon2" type="submit" value="Ask!">
    </div>
  </form>
  </div>
</div>
